<div class="empty-state" style="min-height: calc(100vh - 50px);">
  <h2>Webhooky</h2>
  <p>Instantly capture and inspect HTTP webhooks</p>
  <%= button_to "Create New URL", tokens_path, method: :post, class: "btn btn-new", style: "font-size: 1rem; padding: 0.6rem 2rem;" %>
</div>
